{% extends "base.html" %}
{% load static settings_value %}

{% block main %}

<section id="welcome-banner">
    <div id="welcome-banner-title">
        FutureVisions
    </div>
    <div id="welcome-banner-tagline">
        When we arrive at the future, where will it have come from?
    </div>
    <div id="welcome-banner-links">
        <a href="{% url 'visions:vision-list' %}" class="welcome-banner-links-link bubblelink">
            <i class="fas fa-search"></i> Browse Visions
        </a>
        <a href="{% url 'visions:vision-create' %}" class="welcome-banner-links-link bubblelink">
            <i class="fas fa-plus"></i> Create Your Vision
        </a>
    </div>
    <i id="welcome-banner-more" class="fas fa-chevron-down"></i>
</section>

{% include 'snippets/waves/wave1.html' %}

<section class="lightbg">
    <div class="container welcome-content">
        <h2>Welcome to FutureVisions</h2>
        <p>
            <em>Where and who do we want to be?</em>
            <br>
            <em>How might we get there?</em>
        </p>
        <p>
            Before we can make the future(s) we want, we have to imagine them.
        </p>
        <p>
            This site is for you to add your imagined futures, and explore and interact with other people’s.
        </p>
        <p>
            When posting, please
            <br>
            Be hopeful
            <br>
            Be bold
            <br>
            Be kind.
        </p>
        <p>
            We look forward to your FutureVisions!
        </p>
        <p>
            Max Saunders & Lisa Gee
        </p>
    </div>
</section>

{% include 'snippets/waves/wave2.html' %}

<section class="colorbg">
</section>

{% include 'snippets/waves/wave3.html' %}

<section class="lightbg">
    <div class="container welcome-content">
        <p>
            The FutureVisions website aims to:
        </p>
        <ul>
            <li>
                collect and showcase as many different visions of the future, contributed by as many different people as possible, in as many different forms as possible
            </li>
            <li>
                promote generative conversations between contributors/contributions that lead to connections formed between ideas, visions and –ultimately – people
            </li>
            <li>
                promote hope, bold imaginings and kindness
            </li>
        </ul>
        <p>
            We will be moderating content, as we want the site to be suitable for everyone aged 13+ (so it’s a no to explicit sex and violence).
        </p>
        <p>
            You retain the copyright for your contributions, and are free to delete these at any point. Any questions, please email <a href="mailto:{% settings_value 'MAIN_CONTACT_EMAIL' %}">{% settings_value 'MAIN_CONTACT_EMAIL' %}</a> and we’ll get back to you asap.
        </p>
        <p>
            The FutureVisions website is part of the Future Thinking project led by Professor Max Saunders and Dr Lisa Gee at the University of Birmingham. For more information visit <a href="https://www.birmingham.ac.uk/futures">www.birmingham.ac.uk/futures</a>
        </p>
    </div>
</section>

{% include 'snippets/waves/wave2.html' %}

<section class="colorbg">
</section>

{% endblock %}